@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
<h1>Listado de Rutas</h1>
<table class="table table-hover">
    <thead style="background-color:LightGrey">
        <th>Id</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Tiempo Estimado</th>
        
    </thead>
    @foreach (var rutas in Model.Rutas)
    {
        <tr>
            <td>@rutas.id</td>
            <td>@rutas.origen</td>
            <td>@rutas.destino</td>
            <td>@rutas.tiempo_estimado</td>
            
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-rutasId="@rutas.id"><i class="fas fa-adjust"></i>Ver</a>
              
              <a class="btn btn-info" asp-page="./Edit" asp-route-rutasId="@rutas.id">Editar</a>
            <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@rutas.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>